body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.who-we-are{
    background: url("../img/bg-masthead.jpg");
    height: 450px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
 
.jumbotronX .bottom {
    margin: 0;
    padding: 0;
    font-size: 1em;
    width: 100%;
}
img {
    pointer-events: none;
}